<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small>
        Sign-Up For our <a onclick="window.fathom.trackGoal('2YM3YIAN', 0);" target="_blank" href="https://playingwithrules.substack.com/">Email List</a> our <a onclick="window.fathom.trackGoal('8UMUPRPU', 0);" target="_blank" href="{{ '/feed.xml' | url}}">RSS Feed</a>.
    </small>
</div>
