<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <title>{{ title }} | {{ metadata.title }}</title>
  <link rel="icon" href="{{ metadata.favicon | url }}" type="image/png">
  <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  
  {% if description %}
    <meta name="description" content="{{ description | safe }}">
  {% endif %}
  {% seo "" %}
  {# {% canonicalURL /feed.xml %} #}
  {% if (environmentVariables.environment == 'production') %}
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="QJBMLCGI" defer></script>
    <!-- / Fathom -->
  {% endif %}
</head>