{%- set relatedPosts = collections.post | getRelatedPosts({ platforms: platforms, title: title, writingType: writingType }) | head(3) %}

{% if relatedPosts.length %}
  <h2 class='t-center'>Other Games You Might Enjoy</h2>
  <div class="flex-grid flex-grid--wrap">
    {% for post in relatedPosts %}
      <a onclick="window.fathom.trackGoal('GRRDHPXA', 0);" class="flex-grid__item" href="{{ post.url | url }}">
        <h2 class="home-title">{{ post.data.title }}</h2>
        {% set image = post.templateContent | getFirst("img") %}
        {% if false %}
          <img src="{{image.src}}" alt="{{image.alt}}" height="150"/>
        {% endif %}
        <p class="home-summary">{{ post.data.excerpt | truncate(150) }}</p>
      </a>
    {% endfor %}
  </div>
{% endif %}
