---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Play This Tonight",
    "subtitle": "A lovingly crafted treasure chest of some of the best tabletop and video games on the internet.",
    "url": "https://playthistonight.com/",
    "feedUrl": "https://playthistonight.com/feed.xml",
    "author": {
      "email": "hello@playthistonight.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feedUrl }}</id>
  {%- for post in collections.post %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
      <author>
        <name>{{ post.data.author }}</name>
        <email>{{ metadata.author.email }}</email>
      </author>
      <summary type="text">{{ post.data.summary }}</summary>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html" xml:lang="en">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
  {%- endfor %}
</feed>
