---
layout: layouts/base.njk
section: page
permalink: /reviews
---
<h1>Find a Game To Play</h1>

<h2 class="home t-center">Article Collections</h2>

{% set taglist = collections.verticalList %}
{% include "components/taglist.njk" %}

<h2 class="home t-center">Games by Platform</h2>

{% set taglist = collections.platformList %}
{% include "components/taglist.njk" %}

<h2 class="home t-center">Games by Genre</h2>

{% set taglist = collections.tagList %}
{% include "components/taglist.njk" %}
