<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <title>{{ title }} | {{ metadata.title }}</title>
  <link rel="icon" href="{{ metadata.siteUrl }}/static/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="{{ '/assets/fonts/marbach_light_macroman/index.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">

  {% if description %}
    <meta name="description" content="{{ description | safe }}">
  {% endif %}
  {% seo "" %}
  <!-- Fathom - beautiful, simple website analytics -->
  {% if (environmentVariables.environment == 'production') %}
    <script src="https://cdn.usefathom.com/script.js" data-site="PJHXPNYF" defer></script>
  {% endif %}
  <!-- / Fathom -->
</head>