{%- set relatedPosts = collections.posts | getRelatedPosts({ tags: tags, title: title, writingType: writingType }) | head(3) %}

<div class="flex-grid">
  <h3>Similar Articles</h4>
  {% for post in relatedPosts %}
    <div class="flex-grid__item">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      {% set image = post.templateContent | getFirst("img") %}
      {% if image %}
        <img src="{{image.src}}" alt="{{image.alt}}" height="150"/>
      {% endif %}
      <small>{{ post.data.summary }}</small>
    </div>
  {% endfor %}
</div>
