---
title: Oops! Not Found
permalink: 404.html
layout: layouts/base.njk 
---
<h1>{{ title }}</h1>
<div class="flex-grid">
    <p>Not able to find what you're looking for?</p>
</div>
<div class="flex-grid">     
    <a href="/reviews">
        <button>Find a New Game To Play</button>
    </a>
</div>
