<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="flex-grid flex-break flex-grid--wrap flex-grid--sb p-60 m-40">
			{% include "components/siteTitle.njk" %}
			{% include "components/nav.njk" %}
		</header>

		{{ layoutContent | safe }}

		{% include "components/footer.njk" %}

	</body>

</html>
