<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="flex-grid flex-grid--sb flex-break p-60 m-20 w-100">
			{% include "components/siteTitle.njk" %}
			{% include "components/nav.njk" %}
		</header>

		{{ layoutContent | safe }}

		{% include "components/footer.njk" %}

	</body>

</html>
