--- 
  layout: layouts/base-post.njk 
  section: page 
  priority: 100
  navtitle: Contact Us!
  tags: 
    - nav
---

<h1>{{ title }}</h1>

<div class="flex-grid">

  <div class="flex-grid__item flex-grid__item--no-hover flex-grid__item--full-width">

    {% include "components/form.njk" %}

  </div>

</div>
