--- 
  layout: layouts/base.njk 
  section: home     
---

<h1>Latest Post</h1>
<div class="flex-grid flex-grid--wrap w-100">
    {% set post = collections.posts | sort(attribute = "date") | last %}
    <section class="flex-grid__item flex-grid__item--no-hover flex-grid__item--full-width">
        <h2 class="home">{{ post.data.title }}</h2>
        <p>
            <time datetime="{{ post.data.date | machinedate }}">
                <small>{{ post.data.date | readableDate }} by {{ post.data.author }}</small>
            </time>
        </p>
        {% set image = post.data.content | getFirst("img") %}
        {% if image %}
            <img src="{{image.src}}" alt="{{image.alt}}"/>
        {% endif %}
        {% if post.data.summary %}
            <p class="home">
                {{ post.data.summary }}
            </p>
        {% endif %}
        <a class="main-link home" href="{{ post.url | url }}">Read More ></a>
    </section>
</div>

<div class="flex-grid t-center">
    <a class="flex-grid__item" href="/blog">
        <h2 class="home-title m-0">All Posts →</h2>
    </a>
</div>
